Leagues
===

The game plan now is to sort into leagues.

I've been conflating two kinds of competition:
Competition between students occupying the same role at the same time (ex. 3 prepared speakers today) vs antagonistic relationships (ex 1 prepared speaker and their evaluator). 

To keep things separated, put students into Leagues. One student from each league will occupy one of the repeated roles each day, so there are as many leagues as repeated roles.

Example. We have 3 evaluators, 3 prepared speakers, and 3 impromptu speakers every day. Partition all students into 3 Leagues. The evaluator and prepared speakers are from the same league.

In [1]:
import pandas as pd
import numpy as np

students2025 = """Hiro
Toka
Rene
Nene
Yuna H.
Rui
Yuna C.
Kazu
Himi
Kokoro
Aika
Sara
Risako
Hanna
Suzuna
Yuriko
George
Yamato
Daisy
Koriki
Miharu
Taisuke""".split('\n')

In [46]:
students2025

['Hiro',
 'Toka',
 'Rene',
 'Nene',
 'Yuna H.',
 'Rui',
 'Yuna C.',
 'Kazu',
 'Himi',
 'Kokoro',
 'Aika',
 'Sara',
 'Risako',
 'Hanna',
 'Suzuna',
 'Yuriko',
 'George',
 'Yamato',
 'Daisy',
 'Koriki',
 'Miharu',
 'Taisuke']

In [47]:
len(students2025)

22

In [2]:
students21 = """Ava

Ben

Carlos

Dina

Eli

Fatima

Gabe

Hana

Ivan

Jin

Kira

Liam

Maya

Nico

Omar

Priya

Quinn

Ravi

Sara

Tariq

Uma
""".split()

In [3]:
students21

['Ava',
 'Ben',
 'Carlos',
 'Dina',
 'Eli',
 'Fatima',
 'Gabe',
 'Hana',
 'Ivan',
 'Jin',
 'Kira',
 'Liam',
 'Maya',
 'Nico',
 'Omar',
 'Priya',
 'Quinn',
 'Ravi',
 'Sara',
 'Tariq',
 'Uma']

In [4]:
#split into leagues
l1, l2, l3 = students21[:7], students21[7:14], students21[14:]

In [5]:
roles = ['prepared','impromptu','evaluator']
roles = [ role + str(num)
         for role in roles
         for num in range(1,4)
        ]

sched = pd.DataFrame(columns = roles)

sched[['prepared1','prepared2','prepared3']] = np.array([l1, l2, l3]).T
sched['impromptu1'] = np.roll(l1,3)
sched['impromptu2'] = np.roll(l2,3)
sched['impromptu3'] = np.roll(l3,3)

# League class

In [6]:
#let's restart with names with a league banner

#rename names in the leagues with banner.
#first, save the originals
raw_names = [l1.copy(), l2.copy(), l3.copy()]

class League:
    """
    League.name
    League.members
    """
    def __init__(self, name, name_list):
        self.name = name
        self.members = np.array(name_list)
        return None

    def __str__(self):
        return self.name
    
    def remove_member(self, member_name:str):
        if member_name not in self.members:
            raise(ValueError)
        self.members.remove(member_name)
        return None
    
    def add_member(self, member_name:str):
        if member_name in self.members:
            raise(ValueError)
        self.members.append(member_name)
        return None

    def rotate(self, shift = 1):
        return np.roll(self.members, shift)

    def add_suffix_to_members(self, suffix:str, spacer = '_', inplace = False):
        return [
            member + spacer + suffix
            for member in self.members
        ]

    def add_prefix_to_members(self, prefix:str, spacer = '_', inplace = False):
        rotated = [
                prefix + spacer + member
                for member in self.members
        ]
        if inplace:
            self.members = rotated
        else:
            return rotated

In [7]:
L1 = League("League 1", l1)
L2 = League("League 2", l2)
L3 = League("League 3", l3)

In [8]:
L1.add_prefix_to_members('L1', inplace = True)
L2.add_prefix_to_members('L2', inplace = True)
L3.add_prefix_to_members('L3', inplace = True)

In [9]:
L1

In [10]:
str(L1)

'League 1'

# construct schedule manually

In [11]:
# construct schedule. The league member lists themselves are as good as any order to start
# -- use these for the prepared speakers.


roles = ['prepared','impromptu','evaluator']
roles = [ role + str(num)
         for role in roles
         for num in range(1,4)
        ]

sched = pd.DataFrame(columns = roles)

prepared_roles = ['prepared1','prepared2','prepared3']
impromptu_roles = ['impromptu1','impromptu2','impromptu3']
evaluator_roles = ['evaluator1','evaluator2','evaluator3']
sched[prepared_roles] = np.array([L1.members, L2.members, L3.members]).T

# sched['impromptu1'] = L1.rotate(3)
# sched['impromptu2'] = L2.rotate(5)
# sched['impromptu3'] = L3.rotate(7)

sched[impromptu_roles] = np.array([L1.rotate(1), L2.rotate(3), L3.rotate(5)]).T

sched[evaluator_roles] = np.array([L1.rotate(4), L2.rotate(5), L3.rotate(6)]).T

sched

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar

In [12]:
#check for competition issues:

#no two competing students on the same day for identical roles
#make a collection of all competitions --- all pairs of students performing the same job
#on the same day 

from itertools import combinations 

#all triplets of same-role same-days
all_competitions = pd.concat(
    [sched[prepared_roles].rename(columns = dict(zip(prepared_roles, range(3)))),
    sched[impromptu_roles].rename(columns = dict(zip(impromptu_roles, range(3)))),
    sched[evaluator_roles].rename(columns = dict(zip(evaluator_roles, range(3))))
],
ignore_index = True)


#construct all pairs of competitors:
#ex. (Ava, Hana, Omar) is the first triplet. this turns into the pairs (Ava,Hana), (Ava,Omar), (Hana, Omar). Want to see 
# that all pairs show only once.

all_pairs = [
    list(
        combinations(
            role_day_competition.to_list(),
            2
        )
    )
    for index, role_day_competition in all_competitions.iterrows()
]
#flatten the collection of pairs
all_pairs = [
    name_pair
    for role_day in all_pairs
    for name_pair in role_day
]


print("all competetive pairs")
print(all_pairs)

#check if there are no repeats.
#no repeats if these lengths are the same
len(all_pairs), len(set(all_pairs))

all competetive pairs
[('L1_Ava', 'L2_Hana'), ('L1_Ava', 'L3_Omar'), ('L2_Hana', 'L3_Omar'), ('L1_Ben', 'L2_Ivan'), ('L1_Ben', 'L3_Priya'), ('L2_Ivan', 'L3_Priya'), ('L1_Carlos', 'L2_Jin'), ('L1_Carlos', 'L3_Quinn'), ('L2_Jin', 'L3_Quinn'), ('L1_Dina', 'L2_Kira'), ('L1_Dina', 'L3_Ravi'), ('L2_Kira', 'L3_Ravi'), ('L1_Eli', 'L2_Liam'), ('L1_Eli', 'L3_Sara'), ('L2_Liam', 'L3_Sara'), ('L1_Fatima', 'L2_Maya'), ('L1_Fatima', 'L3_Tariq'), ('L2_Maya', 'L3_Tariq'), ('L1_Gabe', 'L2_Nico'), ('L1_Gabe', 'L3_Uma'), ('L2_Nico', 'L3_Uma'), ('L1_Gabe', 'L2_Liam'), ('L1_Gabe', 'L3_Quinn'), ('L2_Liam', 'L3_Quinn'), ('L1_Ava', 'L2_Maya'), ('L1_Ava', 'L3_Ravi'), ('L2_Maya', 'L3_Ravi'), ('L1_Ben', 'L2_Nico'), ('L1_Ben', 'L3_Sara'), ('L2_Nico', 'L3_Sara'), ('L1_Carlos', 'L2_Hana'), ('L1_Carlos', 'L3_Tariq'), ('L2_Hana', 'L3_Tariq'), ('L1_Dina', 'L2_Ivan'), ('L1_Dina', 'L3_Uma'), ('L2_Ivan', 'L3_Uma'), ('L1_Eli', 'L2_Jin'), ('L1_Eli', 'L3_Omar'), ('L2_Jin', 'L3_Omar'), ('L1_Fatima', 'L2_Kira'), ('L1_Fatima', 'L3_Priya'), ('L2_Kira', 'L3_Priya'), ('L1_Dina', 'L2_Jin'), ('L1_Dina', 'L3_Priya'), ('L2_Jin', 'L3_Priya'), ('L1_Eli', 'L2_Kira'), ('L1_Eli', 'L3_Quinn'), ('L2_Kira', 'L3_Quinn'), ('L1_Fatima', 'L2_Liam'), ('L1_Fatima', 'L3_Ravi'), ('L2_Liam', 'L3_Ravi'), ('L1_Gabe', 'L2_Maya'), ('L1_Gabe', 'L3_Sara'), ('L2_Maya', 'L3_Sara'), ('L1_Ava', 'L2_Nico'), ('L1_Ava', 'L3_Tariq'), ('L2_Nico', 'L3_Tariq'), ('L1_Ben', 'L2_Hana'), ('L1_Ben', 'L3_Uma'), ('L2_Hana', 'L3_Uma'), ('L1_Carlos', 'L2_Ivan'), ('L1_Carlos', 'L3_Omar'), ('L2_Ivan', 'L3_Omar')]

(63, 63)

In [13]:
# now check for repeated evaluator / speaker roles

evaluation_leagues = list(zip(prepared_roles, evaluator_roles))

In [14]:
evaluation_leagues

[('prepared1', 'evaluator1'),
 ('prepared2', 'evaluator2'),
 ('prepared3', 'evaluator3')]

In [15]:
[
    sched[list(league)] for league in evaluation_leagues
]

[   prepared1 evaluator1
 0     L1_Ava    L1_Dina
 1     L1_Ben     L1_Eli
 2  L1_Carlos  L1_Fatima
 3    L1_Dina    L1_Gabe
 4     L1_Eli     L1_Ava
 5  L1_Fatima     L1_Ben
 6    L1_Gabe  L1_Carlos,
   prepared2 evaluator2
 0   L2_Hana     L2_Jin
 1   L2_Ivan    L2_Kira
 2    L2_Jin    L2_Liam
 3   L2_Kira    L2_Maya
 4   L2_Liam    L2_Nico
 5   L2_Maya    L2_Hana
 6   L2_Nico    L2_Ivan,
   prepared3 evaluator3
 0   L3_Omar   L3_Priya
 1  L3_Priya   L3_Quinn
 2  L3_Quinn    L3_Ravi
 3   L3_Ravi    L3_Sara
 4   L3_Sara   L3_Tariq
 5  L3_Tariq     L3_Uma
 6    L3_Uma    L3_Omar]

In [16]:
pd.DataFrame.rename

<function pandas.core.frame.DataFrame.rename(self, mapper: 'Renamer | None' = None, *, index: 'Renamer | None' = None, columns: 'Renamer | None' = None, axis: 'Axis | None' = None, copy: 'bool | None' = None, inplace: 'bool' = False, level: 'Level | None' = None, errors: 'IgnoreRaise' = 'ignore') -> 'DataFrame | None'>

In [17]:
sched

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar

In [18]:
leadership_roles = [
    "President",
    "Toastmaster",
    "Table Topics Master",
    "General Evaluator"
]

In [19]:
aux_roles = [
    "Greeter",
    "Joke Master",
    "Timer",
    "Grammarian and Word of the Day",
    "Ah Counter",
    "Ballot Counter",
    'Sergeant at Arms',
    'Thought of the Day',
    'Stand-in'
]

In [20]:
all_roles = leadership_roles + prepared_roles + impromptu_roles + evaluator_roles + aux_roles

len(all_roles)

22

In [21]:
len(set(all_roles))

22

In [22]:
pd.options.display.max_columns = 23

In [23]:
#add in columns for leadership and aux roles
for role in all_roles:
    if role not in sched.columns:
        sched[role] = None

sched

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya,None,None,None,None,None,None,None,None,None,None,None,None,None
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn,None,None,None,None,None,None,None,None,None,None,None,None,None
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi,None,None,None,None,None,None,None,None,None,None,None,None,None
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara,None,None,None,None,None,None,None,None,None,None,None,None,None
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq,None,None,None,None,None,None,None,None,None,None,None,None,None
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma,None,None,None,None,None,None,None,None,None,None,None,None,None
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar,None,None,None,None,None,None,None,None,None,None,None,None,None

In [24]:
L1.members

['L1_Ava', 'L1_Ben', 'L1_Carlos', 'L1_Dina', 'L1_Eli', 'L1_Fatima', 'L1_Gabe']

In [25]:
all_labeled_names = L1.members + L2.members + L3.members

#whether the student is scheduled in day 0 yet
[
    [name, name in sched.loc[0].values]
    for name in all_labeled_names
]

#only unscheduled students on day 0
[
    name
    for name in all_labeled_names
    if name not in sched.loc[0].values
]

['L1_Ben',
 'L1_Carlos',
 'L1_Eli',
 'L1_Fatima',
 'L2_Ivan',
 'L2_Kira',
 'L2_Maya',
 'L2_Nico',
 'L3_Ravi',
 'L3_Sara',
 'L3_Tariq',
 'L3_Uma']

In [26]:
#I have assignments for all 22 students for the triplet roles.

#I want to assign leadership roles.
#For each day, get the list of students who cannot do a leadership role because they are doing a triplet role.
# for index, day_sched in sched.iterrows():
#     print(f"day {index}\n" + 50*'_')
#     [
#         print(name) for name in l1+l2+l3
#         if name not in day_sched[index]
#     ]

In [27]:
#make a counter for leadership positions
leadership_count = dict(zip(all_labeled_names, np.zeros(len(l1+l2+l3),dtype = int)))

#collect all student names
all_the_names = L1.members + L2.members + L3.members

def get_unused_names(series_of_names:pd.Series, all_names = all_the_names):
    return [
        name for name in all_names if name not in series_of_names.values
    ]

def least_leaders(d, level = 0):
    min_val = min(d.values())
    return [k for k, v in d.items() if v <= min_val + level]


# for each day, for each role, get the collection of unused people, and pick out the ones with the lowest leadership role rank.

#for each day,
for day_index, day_sched in sched.iterrows():
    unused_names = get_unused_names(day_sched)
    #for each leadership role,
    for role in leadership_roles:
        
        #pick out the students in unused_names that have the lowest leadership count
        done = 0
        counter = 0
        while not done:
            counter += 1
            if counter > 100000:
                raise(ValueError)
            lowest_unused_names = [
                name for name in np.intersect1d(unused_names,  least_leaders(leadership_count))
            ]
            if len(lowest_unused_names) != 0:
                done = 1
            else:
                pass
        #pick out the students who have already done this role
        already_did_this_role = sched[role].unique()
        
        #assign a student from unused names that day and hasn't done it
        random_student = str(np.random.choice(lowest_unused_names))
        sched.loc[day_index, role] = random_student
        
        #update the leadership count for that student
        leadership_count[random_student] = leadership_count[random_student] + 1
        
        #update unused names
        unused_names = get_unused_names(day_sched)

In [28]:
sched

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya,L3_Sara,L1_Fatima,L2_Ivan,L1_Ben,None,None,None,None,None,None,None,None,None
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn,L1_Dina,L3_Omar,L2_Jin,L1_Carlos,None,None,None,None,None,None,None,None,None
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi,L3_Tariq,L1_Ava,L2_Maya,L3_Uma,None,None,None,None,None,None,None,None,None
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara,L3_Priya,L1_Eli,L2_Nico,L2_Liam,None,None,None,None,None,None,None,None,None
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq,L2_Hana,L2_Kira,L3_Ravi,L1_Gabe,None,None,None,None,None,None,None,None,None
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma,L3_Quinn,L1_Gabe,L3_Sara,L1_Carlos,None,None,None,None,None,None,None,None,None
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar,L1_Eli,L3_Quinn,L1_Ben,L2_Maya,None,None,None,None,None,None,None,None,None

In [29]:
#look at days with students who have 2 leadership roles
vcs = sched.value_counts()
sched[leadership_roles]

  President Toastmaster Table Topics Master General Evaluator
0   L3_Sara   L1_Fatima             L2_Ivan            L1_Ben
1   L1_Dina     L3_Omar              L2_Jin         L1_Carlos
2  L3_Tariq      L1_Ava             L2_Maya            L3_Uma
3  L3_Priya      L1_Eli             L2_Nico           L2_Liam
4   L2_Hana     L2_Kira             L3_Ravi           L1_Gabe
5  L3_Quinn     L1_Gabe             L3_Sara         L1_Carlos
6    L1_Eli    L3_Quinn              L1_Ben           L2_Maya

In [30]:
leadership_count

{'L1_Ava': np.int64(1),
 'L1_Ben': np.int64(2),
 'L1_Carlos': np.int64(2),
 'L1_Dina': np.int64(1),
 'L1_Eli': np.int64(2),
 'L1_Fatima': np.int64(1),
 'L1_Gabe': np.int64(2),
 'L2_Hana': np.int64(1),
 'L2_Ivan': np.int64(1),
 'L2_Jin': np.int64(1),
 'L2_Kira': np.int64(1),
 'L2_Liam': np.int64(1),
 'L2_Maya': np.int64(2),
 'L2_Nico': np.int64(1),
 'L3_Omar': np.int64(1),
 'L3_Priya': np.int64(1),
 'L3_Quinn': np.int64(2),
 'L3_Ravi': np.int64(1),
 'L3_Sara': np.int64(2),
 'L3_Tariq': np.int64(1),
 'L3_Uma': np.int64(1)}

In [31]:
least_leaders(leadership_count)

['L1_Ava',
 'L1_Dina',
 'L1_Fatima',
 'L2_Hana',
 'L2_Ivan',
 'L2_Jin',
 'L2_Kira',
 'L2_Liam',
 'L2_Nico',
 'L3_Omar',
 'L3_Priya',
 'L3_Ravi',
 'L3_Tariq',
 'L3_Uma']

In [32]:
#wipe leadership schedule
sched[leadership_roles] = None

In [33]:
# #chatgpt

# from collections import defaultdict

# def fill_schedule(rows, students, banned_per_row):
#     schedule = [[None] * 4 for _ in range(rows)]
#     student_counts = defaultdict(int)

#     def is_valid(student, r, c):
#         if student in banned_per_row[r]:
#             return False
#         if student in schedule[r]:
#             return False
#         for row in range(rows):
#             if schedule[row][c] == student:
#                 return False
#         return True

#     def get_student_priority_list(r, c):
#         return sorted(
#             students,
#             key=lambda s: (
#                 -(student_counts[s] == 0),            # prefer unused
#                 -(student_counts[s] == 1 and c == 2), # prefer 2nd role as General Evaluator
#                 student_counts[s]                    # lower count preferred
#             )
#         )

#     def backtrack(r, c):
#         if r == rows:
#             return True
#         next_r, next_c = (r, c + 1) if c < 3 else (r + 1, 0)
#         for student in get_student_priority_list(r, c):
#             if is_valid(student, r, c):
#                 schedule[r][c] = student
#                 student_counts[student] += 1
#                 if backtrack(next_r, next_c):
#                     return True
#                 schedule[r][c] = None
#                 student_counts[student] -= 1
#         return False

#     if backtrack(0, 0):
#         return schedule
#     else:
#         return None



# # students = ['Alice', 'Bob', 'Charlie', 'Dana', 'Eli']
# # rows = 3
# # banned_per_row = [['Dana'], ['Charlie'], ['Alice', 'Bob']]

# # result = fill_schedule(rows, all_labeled_names, banned_per_row)
# # if result:
# #     for row in result:
# #         print(row)
# # else:
# #     print("No valid schedule found.")

In [34]:
sched

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya,None,None,None,None,None,None,None,None,None,None,None,None,None
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn,None,None,None,None,None,None,None,None,None,None,None,None,None
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi,None,None,None,None,None,None,None,None,None,None,None,None,None
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara,None,None,None,None,None,None,None,None,None,None,None,None,None
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq,None,None,None,None,None,None,None,None,None,None,None,None,None
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma,None,None,None,None,None,None,None,None,None,None,None,None,None
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar,None,None,None,None,None,None,None,None,None,None,None,None,None

In [35]:
import pandas as pd
from collections import defaultdict

def fill_leadership_roles(df, leadership_cols, all_students):
    # Track how many times each student has been assigned each role
    role_counts = {col: defaultdict(int) for col in leadership_cols}
    total_counts = defaultdict(int)

    def get_valid_students(day_row, role):
        used_today = set(day_row.dropna())
        return [
            s for s in all_students
            if s not in used_today
            and role_counts[role][s] == 0
        ]

    for day in df.index:
        day_row = df.loc[day]
        for role in leadership_cols:
            candidates = get_valid_students(day_row, role)

            # Sort by total role count to balance distribution
            candidates.sort(key=lambda s: total_counts[s])

            if candidates:
                chosen = candidates[0]
                df.at[day, role] = chosen
                role_counts[role][chosen] += 1
                total_counts[chosen] += 1
            else:
                print(f"Warning: no valid student for day {day}, role {role}")

    return df

In [38]:
aux_roles

['Greeter',
 'Joke Master',
 'Timer',
 'Grammarian and Word of the Day',
 'Ah Counter',
 'Ballot Counter',
 'Sergeant at Arms',
 'Thought of the Day',
 'Stand-in']

In [36]:
complete_df = fill_leadership_roles(
    fill_leadership_roles(
        sched,
        leadership_roles,
        all_labeled_names
    ),
    aux_roles,
    all_labeled_names
)

In [37]:
complete_df

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya,L1_Ben,L1_Carlos,L1_Eli,L1_Fatima,L2_Ivan,L2_Kira,L2_Maya,L2_Nico,L3_Ravi,L3_Sara,L3_Tariq,L3_Uma,L2_Ivan
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn,L1_Dina,L1_Gabe,L2_Hana,L2_Jin,L1_Carlos,L1_Fatima,L2_Liam,L3_Omar,L1_Carlos,L1_Fatima,L2_Liam,L2_Nico,L3_Omar
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi,L1_Ava,L2_Ivan,L2_Kira,L2_Maya,L1_Dina,L1_Eli,L1_Gabe,L2_Hana,L3_Priya,L1_Dina,L1_Eli,L1_Gabe,L2_Hana
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara,L2_Liam,L2_Nico,L3_Omar,L3_Priya,L1_Ava,L1_Ben,L2_Jin,L3_Quinn,L1_Ava,L1_Ben,L2_Jin,L3_Quinn,L3_Uma
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq,L3_Quinn,L3_Ravi,L1_Ben,L1_Carlos,L2_Kira,L2_Maya,L3_Priya,L1_Fatima,L1_Gabe,L2_Hana,L2_Kira,L2_Jin,L2_Maya
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma,L3_Sara,L1_Ava,L1_Dina,L1_Gabe,L3_Ravi,L1_Carlos,L2_Ivan,L2_Liam,L2_Nico,L3_Priya,L3_Quinn,L3_Ravi,L1_Carlos
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar,L3_Tariq,L1_Eli,L2_Jin,L2_Hana,L3_Sara,L1_Ava,L1_Ben,L1_Dina,L3_Sara,L1_Ava,L1_Ben,L1_Dina,L2_Liam

In [43]:
sched == 'L2_Hana'

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
5,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [44]:
#check for repeated roles for a student

(sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)

/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)
/var/folders/4l/8m5k564x79g8krtzg8h1h35m0000gp/T/ipykernel_7098/1686239708.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  (sched.apply(pd.value_counts, axis = 1) == 2).sum(axis = 0)

L1_Ava       2
L1_Ben       2
L1_Carlos    2
L1_Dina      2
L1_Eli       1
L1_Fatima    1
L1_Gabe      1
L2_Hana      1
L2_Ivan      1
L2_Jin       1
L2_Kira      1
L2_Liam      1
L2_Maya      1
L2_Nico      0
L3_Omar      1
L3_Priya     0
L3_Quinn     1
L3_Ravi      1
L3_Sara      1
L3_Tariq     0
L3_Uma       0
dtype: int64

In [131]:
#check for students repeated on the same day
np.any( sched.loc[0].value_counts() > 1)

np.False_

In [133]:

fill_leadership_roles(sched, aux_roles, all_labeled_names)

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
0,L1_Ava,L2_Hana,L3_Omar,L1_Gabe,L2_Liam,L3_Quinn,L1_Dina,L2_Jin,L3_Priya,L1_Ben,L1_Carlos,L1_Eli,L2_Ivan,L1_Fatima,L2_Kira,L2_Maya,L2_Nico,L3_Ravi,L3_Sara,L3_Tariq,L3_Uma,L1_Fatima
1,L1_Ben,L2_Ivan,L3_Priya,L1_Ava,L2_Maya,L3_Ravi,L1_Eli,L2_Kira,L3_Quinn,L1_Fatima,L1_Gabe,L2_Hana,L2_Liam,L1_Carlos,L1_Dina,L2_Jin,L3_Omar,L1_Carlos,L1_Dina,L2_Jin,L2_Nico,L3_Omar
2,L1_Carlos,L2_Jin,L3_Quinn,L1_Ben,L2_Nico,L3_Sara,L1_Fatima,L2_Liam,L3_Ravi,L1_Ava,L1_Dina,L2_Maya,L3_Priya,L1_Eli,L1_Gabe,L2_Hana,L2_Ivan,L1_Eli,L1_Gabe,L2_Hana,L2_Ivan,L2_Kira
3,L1_Dina,L2_Kira,L3_Ravi,L1_Carlos,L2_Hana,L3_Tariq,L1_Gabe,L2_Maya,L3_Sara,L2_Jin,L3_Omar,L3_Quinn,L1_Ben,L1_Ava,L2_Liam,L3_Priya,L1_Ava,L2_Liam,L3_Priya,L3_Uma,L1_Ava,L1_Eli
4,L1_Eli,L2_Liam,L3_Sara,L1_Dina,L2_Ivan,L3_Uma,L1_Ava,L2_Nico,L3_Tariq,L3_Ravi,L1_Fatima,L1_Carlos,L1_Gabe,L1_Ben,L3_Quinn,L1_Ben,L2_Maya,L3_Quinn,L1_Ben,L2_Kira,L2_Hana,L2_Jin
5,L1_Fatima,L2_Maya,L3_Tariq,L1_Eli,L2_Jin,L3_Omar,L1_Ben,L2_Hana,L3_Uma,L2_Kira,L2_Nico,L3_Sara,L1_Ava,L3_Ravi,L1_Carlos,L1_Dina,L1_Gabe,L2_Ivan,L2_Liam,L3_Priya,L3_Quinn,L3_Ravi
6,L1_Gabe,L2_Nico,L3_Uma,L1_Fatima,L2_Kira,L3_Priya,L1_Carlos,L2_Ivan,L3_Omar,L3_Tariq,L1_Eli,L2_Jin,L2_Hana,L3_Sara,L2_Maya,L3_Sara,L1_Ben,L1_Ava,L2_Maya,L1_Dina,L2_Liam,L3_Quinn

In [135]:
#check for students repeated on the same day
np.any( sched.loc[0].value_counts() > 1)

np.True_