Toastmasters scheduling with MIP
---

Try to schedule all the rules of Toastmasters using a MIP approach.

The restrictions are:
- everyone has to do each of the three "main" jobs once
- the three main jobs are repeated 2 or 3 times on a single day
- students should speak "against" a different set of speakers between their two times
- auxiliary jobs should be filled with remaining students, with preference to students who haven't done that job yet

Model 1

- assign a number to each student
- create a N_jobs x M_days schedule. Some days can have one more or less of the main jobs to finish the class
- All numbers in a row (a single day) must be different. (no student has two jobs on a single day)
- All numbers in a column are preferentially different (no student does a job twice)
- Prepared speakers and evaluators must not be the same (an evaluator / speaker pair doesn't compete more than once --- an evaluator / speaker pair doesn't swap roles later, and they don't speak at the same time

Model 2
- assign a binary to each student-job-day combo
- sum student-jobs (sum over a day) is the number of students. Every student does one job each day.
- Nobody should do the same job more than once.
    - sum days for any student-single job is <=1
- Important Speaker roles must be done
    - sum student-impromptu == 1, ditto for other two speaker roles
- be sure students take a leadership role. Some may do roles more times.
    - sum student-leadership-roles-days >=1

I'm digging model 2. Let's see how it goes.

In [1]:
import pulp as pl
import pandas as pd
# import numpy as np
# import os

students2025 = """Hiro
Toka
Rene
Nene
Yuna H.
Rui
Yuna C.
Kazu
Himi
Kokoro
Aika
Sara
Risako
Hanna
Suzuna
Yuriko
George
Yamato
Daisy
Koriki
Miharu
Taisuke""".split('\n')

jobs = {
    "prepared_roles":['prepared1','prepared2','prepared3'],
    "impromptu_roles" :['impromptu1','impromptu2','impromptu3'],
    "evaluator_roles" :['evaluator1','evaluator2','evaluator3'],
    "leadership" : [
        "President",
        "Toastmaster",
        "Table Topics Master",
        "General Evaluator"
    ],
    "aux":[
        "Greeter",
        "Joke Master",
        "Timer",
        "Grammarian and Word of the Day",
        "Ah Counter",
        "Ballot Counter",
        'Sergeant at Arms',
        'Thought of the Day',
        'Stand-in'
    ]
}

last_day_jobs = ['prepared4','evaluator4','impromptu4']

competitive_pairs = [
    'speaker-evaluator',
]

all_jobs = [
        job
        for category in jobs.values()
    for job in category
]



#define the bounds of the problem
students = students2025

no_days = 7
days = range(1, no_days+1)


#create the model
model = pl.LpProblem("Toastmasters", pl.LpMaximize)


###############################################################
# Variables
###############

#binary variables.
# schedule[(student, day, job)] is 1 if and only if the student takes that job that day.
schedule = {
    (student,day, job):pl.LpVariable(
        f"schedule_{student}_{day}_{job}",
        0,
        1,
        cat = 'Binary'
    )
    for student in students
    for day in days
    for job in all_jobs
}

# allow in the schedule for the 22nd students to do their critical jobs
last_day_jobs_schedule = {
    (student, days[-1], job):pl.LpVariable(
        f"schedule_{student}_{days[-1]}_{job}",
        0,
        1,
        cat = 'Binary'
    )
    for student in students
    for job in last_day_jobs
}

schedule.update(last_day_jobs_schedule)
        

#create a variable to track speaker-evaluator pairs
# This is ordered: studenta is the first in the pair, studentb is the second
competition = {
    (studenta, studentb, pair, day):pl.LpVariable(
        f"competition_{studenta}_{studentb}_{pair}_{day}",
        0,
        1,
        cat = "Binary"
    )
    for studenta in students
    for studentb in students
    for day in days
    for pair in competitive_pairs
}

###############################################################
# Constraints
#################

############################
# single-student constraints
for student in students:
    
    ###################################################
    # each student does any given job only once at most
    for job in all_jobs:
        model += pl.lpSum(
            schedule[student, day, job]
            for day in days
        ) <= 1

    ##################################################
    # each student does each of the critical jobs once
    model += pl.lpSum(
        schedule[student, day, job]
        for job in jobs["prepared_roles"]
        for day in days
    ) + schedule[student, 7, 'prepared4'] == 1
    model += pl.lpSum(
        schedule[student, day, job]
        for job in jobs["impromptu_roles"]
        for day in days
    ) + schedule[student, 7, 'impromptu4'] == 1
    model += pl.lpSum(
        schedule[student, day, job]
        for job in jobs["evaluator_roles"]
        for day in days
    ) + schedule[student, 7, 'evaluator4'] == 1

    ################################################
    # each student does at least one leadership role
    model += pl.lpSum(
        schedule[student, day, job]
        for job in jobs['leadership']
        for day in days
    ) >= 1
    
    ####################################################
    # students don't do more than one job on a given day
    for day in days:
        model += pl.lpSum(
            schedule[student, day, job]
            for job in all_jobs
        ) <= 1

########################
# single-job constraints
for job in all_jobs:
    #every job is filled once and only once each day
    for day in days:
        model += pl.lpSum(
            schedule[student, day, job]
            for student in students
        ) == 1

#...including the extras on day 7
for job in last_day_jobs:
    model += pl.lpSum(
        schedule[student, 7, job]
        for student in students
    ) == 1
        
##############################
# Objective: fill the schedule
model += pl.lpSum(schedule)

# ###############################
# # competition based constraints
# for student1 in students:

#     #students never compete with themselves
#     for day in  days:
#         model += competition[student1, student1, 'speaker-evaluator', day] == 0
    
#     for student2 in students:
#         if student1 != student2:
#             #two given students don't reverse competetive roles
#             model += pl.lpSum(
#                 competition[student1, student2, 'speaker-evaluator', day]
#                 + competition[student2, student1, 'speaker-evaluator', day]
#                 for day in days
#             ) <= 1

#             # a student only competes as many times as they do the job on a given day
#             for day in days:
#                 model += competition[student1, student2, 'speaker-evaluator', day] <= pl.lpSum(
#                     schedule[student1, day, job]
#                     for job in jobs['prepared_roles']
#                 )
#                 model += competition[student1, student2, 'speaker-evaluator', day] <= pl.lpSum(
#                     schedule[student2, day, job]
#                     for job in jobs['evaluator_roles']
#                 )
#                 model += competition[student1, student2, 'speaker-evaluator', day] >= pl.lpSum(
#                         schedule[student1, day, speaker_job]
#                         for speaker_job in jobs['prepared_roles']
#                     ) + pl.lpSum(
#                         schedule[student2, day, evaluator_job]
#                         for evaluator_job in jobs['evaluator_roles']
#                     ) - 1


#############################################################
# Solve
############
model.solve(pl.PULP_CBC_CMD(msg = True))

#############################################################
# Result
############

model_status = pl.LpStatus[model.status]
print(model_status)
assert model_status == 'Optimal', f"Model status: {model_status}"


schedule_df = pd.DataFrame(columns = all_jobs, index = pd.MultiIndex.from_product([days, students], names = ['days','students']))

separator = "-"*32
for day in days:
    # print(f"Day {day}\n{separator}")
    for job in all_jobs:
        for student in students:
            val = schedule[student, day, job].value()
            if val is not None and val > 0.5:
                # print(f"{job}: {student}")
                this_student = student
                schedule_df.loc[(day, this_student), job] = 1
    # print(f"{separator}\n{separator}\n")

schedule_df.fillna(0, inplace=True)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/dters/Library/Python/3.9/lib/python/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/t3/k8lxxy_x69d0nkzcnddh40rm0000gn/T/7c57936fa6834ed3ae4d5008a2d6af51-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/t3/k8lxxy_x69d0nkzcnddh40rm0000gn/T/7c57936fa6834ed3ae4d5008a2d6af51-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 888 COLUMNS
At line 23549 RHS
At line 24433 BOUNDS
At line 27888 ENDATA
Problem MODEL has 883 rows, 3454 columns and 12298 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 157 - 0.05 seconds
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 198 strengthened rows, 0 substitutions
Cgl0004I processed model has 883 rows, 3454 columns (3454 integer (3454 of which binary)) and 14080 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 392 integers unsatisfied sum - 110.165
Cbc0038I Pass   1: suminf.    0.00000 (0) obj. -157 iterations 907
Cbc0038I Solution found of -157
Cbc0038I Before mini branch and bound, 3035 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.53 seconds)
Cbc0038I After 0.53 seconds - Feasibility pump exiting with objective of -157 - took 0.05 seconds
Cbc0012I Integer solution of -157 found by feasibility pump after 0 iterations and 0 nodes (0.53 seconds)
Cbc0001I Search completed - best objective -157, took 0 iterations and 0 nodes (0.53 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -157 to -157
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                157.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.52
Time (Wallclock seconds):       0.55

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.53   (Wallclock seconds):       0.56

Optimal

/var/folders/t3/k8lxxy_x69d0nkzcnddh40rm0000gn/T/ipykernel_4452/140026468.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  schedule_df.fillna(0, inplace=True)

In [3]:
schedule_df

               prepared1  prepared2  prepared3  impromptu1  impromptu2  \
days students
1    Hiro              0          0          0           0           0
     Toka              0          0          0           1           0
     Rene              0          0          0           0           1
     Nene              0          0          0           0           0
     Yuna H.           0          0          0           0           0
...                  ...        ...        ...         ...         ...
7    Yamato            0          0          0           0           0
     Daisy             1          0          0           0           0
     Koriki            0          0          0           0           0
     Miharu            0          0          1           0           0
     Taisuke           0          0          0           1           0

               impromptu3  evaluator1  evaluator2  evaluator3  President  ...  \
days students                                                             ...
1    Hiro               0           0           0           0          0  ...
     Toka               0           0           0           0          0  ...
     Rene               0           0           0           0          0  ...
     Nene               0           0           0           0          0  ...
     Yuna H.            1           0           0           0          0  ...
...                   ...         ...         ...         ...        ...  ...
7    Yamato             0           0           0           0          0  ...
     Daisy              0           0           0           0          0  ...
     Koriki             0           0           0           0          0  ...
     Miharu             0           0           0           0          0  ...
     Taisuke            0           0           0           0          0  ...

               General Evaluator  Greeter  Joke Master  Timer  \
days students
1    Hiro                      0        0            1      0
     Toka                      0        0            0      0
     Rene                      0        0            0      0
     Nene                      0        1            0      0
     Yuna H.                   0        0            0      0
...                          ...      ...          ...    ...
7    Yamato                    0        0            0      1
     Daisy                     0        0            0      0
     Koriki                    1        0            0      0
     Miharu                    0        0            0      0
     Taisuke                   0        0            0      0

               Grammarian and Word of the Day  Ah Counter  Ballot Counter  \
days students
1    Hiro                                   0           0               0
     Toka                                   0           0               0
     Rene                                   0           0               0
     Nene                                   0           0               0
     Yuna H.                                0           0               0
...                                       ...         ...             ...
7    Yamato                                 0           0               0
     Daisy                                  0           0               0
     Koriki                                 0           0               0
     Miharu                                 0           0               0
     Taisuke                                0           0               0

               Sergeant at Arms  Thought of the Day  Stand-in
days students
1    Hiro                     0                   0         0
     Toka                     0                   0         0
     Rene                     0                   0         0
     Nene                     0                   0         0
     Yuna H.                  0                   0         0
...                         ...                 ...       ...
7    Yamato                   0                   0         0
     Daisy                    0                   0         0
     Koriki                   0                   0         0
     Miharu                   0                   0         0
     Taisuke                  0                   0         0

[154 rows x 22 columns]

          prepared4  evaluator4  impromptu4
students
Hiro              0           0           0
Toka              0           0           0
Rene              0           0           0
Nene              0           0           0
Yuna H.           0           0           0
Rui               0           0           0
Yuna C.           0           0           0
Kazu              0           0           0
Himi              0           0           0
Kokoro            0           0           0
Aika              0           0           0
Sara              0           0           0
Risako            0           0           0
Hanna             0           0           0
Suzuna            0           0           0
Yuriko            0           0           0
George            0           0           0
Yamato            0           0           0
Daisy             0           0           0
Koriki            0           0           0
Miharu            0           0           0
Taisuke           0           0           0

In [6]:

for student in students:
    for job in last_day_jobs:
        schedule_df.loc[(7, student) ,job] = schedule[student, 7, job].value()

#create new columns for the 4th jobs on day 7
schedule_df[last_day_jobs] = 0



schedule_df.sum()

prepared1                         7
prepared2                         7
prepared3                         7
impromptu1                        7
impromptu2                        7
impromptu3                        7
evaluator1                        7
evaluator2                        7
evaluator3                        7
President                         7
Toastmaster                       7
Table Topics Master               7
General Evaluator                 7
Greeter                           7
Joke Master                       7
Timer                             7
Grammarian and Word of the Day    7
Ah Counter                        7
Ballot Counter                    7
Sergeant at Arms                  7
Thought of the Day                7
Stand-in                          7
prepared4                         0
evaluator4                        0
impromptu4                        0
dtype: int64

In [8]:
schedule_df.loc[(7,), last_day_jobs]

          prepared4  evaluator4  impromptu4
students
Hiro              0           0           0
Toka              0           0           0
Rene              0           0           0
Nene              0           0           0
Yuna H.           0           0           0
Rui               0           0           0
Yuna C.           0           0           0
Kazu              0           0           0
Himi              0           0           0
Kokoro            0           0           0
Aika              0           0           0
Sara              0           0           0
Risako            0           0           0
Hanna             0           0           0
Suzuna            0           0           0
Yuriko            0           0           0
George            0           0           0
Yamato            0           0           0
Daisy             0           0           0
Koriki            0           0           0
Miharu            0           0           0
Taisuke           0           0           0

In [11]:
# schedule_df.idxmax(axis = 'columns')

# assigned_job = schedule_df.idxmax(axis = 'columns')
# assigned_job

# assigned_job.reset_index(name = 'job')

In [10]:
schedule_by_name = pd.DataFrame( columns = all_jobs, index = days)

In [11]:
# fill in the schedle...
for day in days:
    for student in students:
        for job in all_jobs:
            if schedule_df.loc[(day, student), job]:
                schedule_by_name.loc[day,job] = student
                # print(f"adding {student} to {job} on day {day}")

# ... including the 7th day extras


schedule_by_name[last_day_jobs] = 0

for student in students:

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,...,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
1,Kokoro,Yuna C.,Yuriko,Toka,Rene,Yuna H.,Risako,Himi,Daisy,Hanna,...,Kazu,Nene,Hiro,Koriki,George,Suzuna,Sara,Taisuke,Yamato,Miharu
2,Yamato,Nene,Koriki,Yuriko,Miharu,Rui,Aika,Sara,Toka,Yuna C.,...,Kokoro,Hiro,Kazu,Rene,Yuna H.,Taisuke,Suzuna,Himi,Hanna,George
3,Rui,Himi,Kazu,Nene,Risako,Hiro,Yuna C.,Miharu,George,Yamato,...,Taisuke,Daisy,Kokoro,Sara,Koriki,Yuriko,Rene,Toka,Aika,Suzuna
4,Sara,Yuna H.,Hiro,Yuna C.,Kokoro,Daisy,Nene,Yamato,Hanna,Koriki,...,Yuriko,Rui,Miharu,Taisuke,Risako,George,Kazu,Aika,Himi,Toka
5,Rene,George,Toka,Yamato,Sara,Aika,Rui,Taisuke,Koriki,Miharu,...,Suzuna,Hanna,Yuna H.,Yuriko,Kokoro,Hiro,Nene,Risako,Kazu,Daisy
6,Taisuke,Aika,Risako,Hanna,Kazu,Koriki,Yuriko,Kokoro,Hiro,Toka,...,Himi,Yuna H.,Yuna C.,Miharu,Sara,Rene,Yamato,Suzuna,Rui,Nene
7,Daisy,Hanna,Miharu,Taisuke,George,Himi,Rene,Yuna H.,Kazu,Hiro,...,Koriki,Kokoro,Suzuna,Yamato,Yuna C.,Aika,Rui,Yuriko,Toka,Risako

In [13]:
sch = [
    pd.unique(schedule_by_name.loc[day]).astype(str)
    for day in days
]

In [14]:
[ len(set(names)) for names in sch ]

[22, 22, 22, 22, 22, 22, 22]

In [15]:
len(schedule_by_name.columns)

22

In [23]:
pd.options.display.max_columns = 30

schedule_by_name

,prepared1,prepared2,prepared3,impromptu1,impromptu2,impromptu3,evaluator1,evaluator2,evaluator3,President,Toastmaster,Table Topics Master,General Evaluator,Greeter,Joke Master,Timer,Grammarian and Word of the Day,Ah Counter,Ballot Counter,Sergeant at Arms,Thought of the Day,Stand-in
1,Kokoro,Yuna C.,Yuriko,Toka,Rene,Yuna H.,Risako,Himi,Daisy,Hanna,Aika,Rui,Kazu,Nene,Hiro,Koriki,George,Suzuna,Sara,Taisuke,Yamato,Miharu
2,Yamato,Nene,Koriki,Yuriko,Miharu,Rui,Aika,Sara,Toka,Yuna C.,Daisy,Risako,Kokoro,Hiro,Kazu,Rene,Yuna H.,Taisuke,Suzuna,Himi,Hanna,George
3,Rui,Himi,Kazu,Nene,Risako,Hiro,Yuna C.,Miharu,George,Yamato,Hanna,Yuna H.,Taisuke,Daisy,Kokoro,Sara,Koriki,Yuriko,Rene,Toka,Aika,Suzuna
4,Sara,Yuna H.,Hiro,Yuna C.,Kokoro,Daisy,Nene,Yamato,Hanna,Koriki,Rene,Suzuna,Yuriko,Rui,Miharu,Taisuke,Risako,George,Kazu,Aika,Himi,Toka
5,Rene,George,Toka,Yamato,Sara,Aika,Rui,Taisuke,Koriki,Miharu,Himi,Yuna C.,Suzuna,Hanna,Yuna H.,Yuriko,Kokoro,Hiro,Nene,Risako,Kazu,Daisy
6,Taisuke,Aika,Risako,Hanna,Kazu,Koriki,Yuriko,Kokoro,Hiro,Toka,George,Daisy,Himi,Yuna H.,Yuna C.,Miharu,Sara,Rene,Yamato,Suzuna,Rui,Nene
7,Daisy,Hanna,Miharu,Taisuke,George,Himi,Rene,Yuna H.,Kazu,Hiro,Sara,Nene,Koriki,Kokoro,Suzuna,Yamato,Yuna C.,Aika,Rui,Yuriko,Toka,Risako

In [22]:
[ 
    schedule[student, day, 'evaluator4'].value()
    for student in students
]

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]